@{
    ViewBag.Title = "Home Page";
}

<div class="positions">

    <div class="container">


        <div class="header-bottom">
            <h3>Test positions</h3>
        </div>
    </div>

</div>
<br /><br />
<div class="animate">
    <a class="clickme" href="">Click me</a>

    <div class="box">

    </div>
</div>


@section scripts {
    <script>
        $(".clickme").click(function () {

            $(".animate .box").addClass("flash");

            return false;
        });
</script>
}