@{
    ViewBag.Title = "Home Page";
}

<div class="positions">

    <div class="container">


        <div class="header-bottom">
            <div class="inner">
                <h3>Test positions</h3>
            </div>
           
        </div>
    </div>

</div>
<br /><br />
<div class="animate">
    <a class="clickme" href="">Click me</a>

    <div class="box animated ">

    </div>
</div>

<div class="flex">
    
    <div class="container">
        <div class="item">Flex 1

        </div>
        <div class="item">Flex 2
        <br/><br /><br /><br />asdas
        </div>
        <div class="item">Flex 3
        
        </div>
        <div class="item">Flex 3
        
        </div>
        <div class="item">Flex 3
        
        </div>
        <div class="item">Flex 3
        
        </div>
        <div class="item">Flex 3
        
        </div>
        <div class="item">Flex 3
        
        </div>
        <div class="item">Flex 3
        
        </div>
        <div class="item">Flex 3
        
        </div>
        <div class="item">Flex 3
        
        </div>
        <div class="item">
            Flex 3

        </div>
        <div class="item">
            Flex 3

        </div>
        <div class="item">
            Flex 3

        </div>
        <div class="item">
            Flex 3

        </div>
        <div class="item">
            Flex 3

        </div>
        <div class="item">
            Flex 3

        </div>
        <div class="item">
            Flex 3

        </div>
        <div class="item">
            Flex 3

        </div>

    </div>

</div>


@section scripts {
    <script>
        $(".clickme").click(function () {

            $(".animate .box").addClass("bounceInDown");

            return false;
        });
</script>
}